.test{
    background-color: white;

}


.titel{
    font-size: 3rem;
    padding-top: 10rem;
  color: #2c3e50 !important;
}
.icon{
    font-size: 2rem;
    color: #2c3e50 !important;
}
.center{
    margin-top: 10rem;
}

.after::after{
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 30px ;
    background-color: #2c3e50 !important;
    position: absolute;
    top: 17px;
  right: 30px;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
    
}
.before::before{
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 30px ;
    background-color: #2c3e50 !important;
    position: absolute;
    left: 30px;
    top: 17px;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
 
}

.line{
    position: relative;
    border-bottom: 1px solid #e9ecef;

}
.border{
    border: none;
    outline: 0;
}
