.Footer{
    background-color: #2c3e50;
padding-top: 5rem;
padding-bottom: 2rem;

}
i
{
    font-size: 1.3rem;
}
.icon
{
    cursor: pointer;
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #f8f9fa;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.icon:hover{
    background-color: white;
    color: #212529;
}
.copyright{
    background-color: #1a252f;
    color: white;
}

